* {
    box-sizing: border-box; 
    background-color: #e09558;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #ffffc7;
  }

  body {
    display: flex;
    min-height: 75vh;
    flex-direction: column;
    margin: 0;
  }

/* Nav */
nav {
    float: left;
    display: flex;
    color: #f2f2f2;
    height: 10vh;
    width: 100%;
    padding: 1rem;
    flex-direction: row;
  }
  
  nav a {
    text-decoration: none;
  }
  
  .nav-item {
    /* line-height: 1; */
    font-family: "Roboto", sans-serif;
    font-size: 2.5vh;
    font-weight: normal;
    margin: 0.375rem;
    flex-grow: 1;
    
  }
  
  /* Logo */
  
  #logo {
    height: 10vh;
    margin: 0;
    padding: 0;
  }
  
  #logo-div {
   flex-grow: 0;
  }
  
  /* Brand name */
  
  #brandname {
    font-family: "Miniver", cursive;
    font-weight: lighter;
    margin: 0%;
    padding: 0;
    font-size: 4vh;
  }
  
  #brandname-div {
      margin-top: 2vh;
      flex-grow: 10;
  }
  
  #join-div {
      margin-right: 5%;
  }

/* Main */
  #discover-main {
    display: flex;
    flex: 1;
    height: 100vh;
    margin-top: 5%;
  }

   
  #discover-main > article {
    background-color: transparent;
    align-items: center;
    text-align: center;
    margin-left: 3%;
  }
  
  #main > aside {
    flex: 0.25 0 20vw;
  }
  
  #main > aside {
    order: 2;
    
  }

  #main {
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;
    margin-top: 20%;
  }

   
  #main > article {
    flex: 1;
    order: 1;
    height: max-content;
    background-color: transparent;
  }
  
  #main > aside {
    flex: 0.25 0 20vw;
  }
  
  #main > aside {
    order: 2;
    
  }
  
 article, aside {
    padding: 1em;
  }

#man {
    bottom: 0;
    position: fixed;
    height: 50vh;
    left: 5vw;
    z-index: 2;
    background-color: transparent;
}

h1 {
    font-size: 8vh;
    font-weight:normal;
}

h2 {
    font-weight: normal;
    margin-top: 5%;
    font-size: 3vh;
}

button {
        background:#b0423e;
        background-color:#b0423e;
        border-radius:7px;
        border:0px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffc7;
        font-family:Arial;
        font-size: 2vh;
        padding:16px 31px;
        text-decoration:none;
        width: 40%;
        margin: 10% 10%;
    }
  button:hover {
        background:linear-gradient(to bottom, #913331 5%, #b0423e 100%);
        background-color:#913331;
    }
  button:active {
        position:relative;
        top:1px;
    }

#discover-button {
  margin: 3vh 1vw;
}


#discover-para {
  font-size: 1.5vw; 
}

#albums-div {
  margin: 0% 5%;
  padding:0;
}

/* Mobile responsive */

nav .icon {
    display: none;
  }

@media screen and (max-width: 600px) {
    nav a {
        display: none;
    }
    nav .icon {
        float: right;
        display: block;
      }
}

@media screen and (max-width: 600px) {
    nav.responsive {position:relative;}
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-top:100px;
        margin-left: -250px;
    }


    background

   .circles {
       fill: white;
       stroke: maroon;
      stroke-width: 2px;
   }