body{
    background-image: url("../img/background.jpg");
    height:100%;
    background-repeat: no-repeat;

}

/* track */

tree {
    position: absolute;
    bottom: 25%;
    width: 100%;
}

/* footer */
#track {
    position: absolute;
    bottom: 0;
    width: 100%;}